USE [DiscordBot]
GO
/****** Object:  Table [dbo].[PetWordPuzzle]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetWordPuzzle](
	[PuzzleID] [int] IDENTITY(1,1) NOT NULL,
	[ChannelID] [nvarchar](50) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[Claimed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PuzzleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PetWordPuzzle] ADD  DEFAULT ((0)) FOR [Claimed]
GO
