USE [DiscordBot]
GO
/****** Object:  Table [dbo].[PetCosmetics]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetCosmetics](
	[CosmeticID] [int] IDENTITY(1,1) NOT NULL,
	[PetID] [int] NOT NULL,
	[CosmeticType] [nvarchar](50) NOT NULL,
	[CosmeticKey] [nvarchar](100) NOT NULL,
	[AppliedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CosmeticID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PetCosmetics] UNIQUE NONCLUSTERED 
(
	[PetID] ASC,
	[CosmeticType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PetCosmetics] ADD  DEFAULT (getutcdate()) FOR [AppliedAt]
GO
