USE [DiscordBot]
GO
/****** Object:  Table [dbo].[PokerLobby]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PokerLobby](
	[GameID] [int] IDENTITY(1,1) NOT NULL,
	[ChannelID] [varchar](50) NOT NULL,
	[MessageID] [varchar](50) NOT NULL,
	[ServerID] [varchar](50) NOT NULL,
	[BetPerPlayer] [decimal](38, 0) NOT NULL,
	[Deck] [nvarchar](500) NOT NULL,
	[Community] [nvarchar](100) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PokerLobby] ADD  DEFAULT ('') FOR [MessageID]
GO
ALTER TABLE [dbo].[PokerLobby] ADD  DEFAULT ('') FOR [Community]
GO
ALTER TABLE [dbo].[PokerLobby] ADD  DEFAULT ('waiting') FOR [Status]
GO
ALTER TABLE [dbo].[PokerLobby] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
