USE [DiscordBot]
GO
/****** Object:  Table [dbo].[UserDailyChallenges]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDailyChallenges](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[ServerID] [varchar](50) NOT NULL,
	[ChallengeDate] [date] NOT NULL,
	[Challenge1ID] [int] NOT NULL,
	[Challenge2ID] [int] NOT NULL,
	[Challenge3ID] [int] NOT NULL,
	[Progress1] [int] NOT NULL,
	[Progress2] [int] NOT NULL,
	[Progress3] [int] NOT NULL,
	[BonusClaimed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserDailyChallenge] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[ServerID] ASC,
	[ChallengeDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserDailyChallenges] ADD  DEFAULT ((0)) FOR [Progress1]
GO
ALTER TABLE [dbo].[UserDailyChallenges] ADD  DEFAULT ((0)) FOR [Progress2]
GO
ALTER TABLE [dbo].[UserDailyChallenges] ADD  DEFAULT ((0)) FOR [Progress3]
GO
ALTER TABLE [dbo].[UserDailyChallenges] ADD  DEFAULT ((0)) FOR [BonusClaimed]
GO
