USE [DiscordBot]
GO
/****** Object:  Table [dbo].[TriviaMessage]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TriviaMessage](
	[TriviaMessageID] [bigint] NOT NULL,
	[CorrectAnswer] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
