USE [DiscordBot]
GO
/****** Object:  Table [dbo].[PetJournal]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetJournal](
	[JournalID] [int] IDENTITY(1,1) NOT NULL,
	[PetID] [int] NOT NULL,
	[Event] [varchar](20) NOT NULL,
	[Details] [nvarchar](256) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JournalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PetJournal] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PetJournal]  WITH CHECK ADD  CONSTRAINT [FK_PetJournal_Pet] FOREIGN KEY([PetID])
REFERENCES [dbo].[Pet] ([PetID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PetJournal] CHECK CONSTRAINT [FK_PetJournal_Pet]
GO
