USE [DiscordBot]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[Ticker] [varchar](8) NOT NULL,
	[CompanyName] [nvarchar](64) NOT NULL,
	[Sector] [nvarchar](32) NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[PrevPrice] [decimal](12, 2) NOT NULL,
	[High24h] [decimal](12, 2) NOT NULL,
	[Low24h] [decimal](12, 2) NOT NULL,
	[Volatility] [decimal](5, 4) NOT NULL,
	[Trend] [decimal](5, 4) NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ticker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((100.00)) FOR [Price]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((100.00)) FOR [PrevPrice]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((100.00)) FOR [High24h]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((100.00)) FOR [Low24h]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0.05)) FOR [Volatility]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0.00)) FOR [Trend]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT (getutcdate()) FOR [LastUpdated]
GO
