USE [DiscordBot]
GO
/****** Object:  Table [dbo].[ServerPassiveJackpot]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServerPassiveJackpot](
	[ServerID] [varchar](50) NOT NULL,
	[Pool] [decimal](38, 0) NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServerPassiveJackpot] ADD  DEFAULT ((0)) FOR [Pool]
GO
ALTER TABLE [dbo].[ServerPassiveJackpot] ADD  DEFAULT (getutcdate()) FOR [LastUpdated]
GO
