USE [DiscordBot]
GO
/****** Object:  Table [dbo].[Servers]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servers](
	[ServerID] [int] IDENTITY(1,1) NOT NULL,
	[ServerUID] [bigint] NOT NULL,
	[ServerName] [varchar](200) NOT NULL,
	[DefaultChannelID] [bigint] NULL,
	[Volume] [int] NOT NULL,
	[FixEmbed] [bit] NOT NULL,
	[IsPlayerConnected] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[AnnouncementsEnabled] [bit] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Servers] ADD  DEFAULT ((100)) FOR [Volume]
GO
ALTER TABLE [dbo].[Servers] ADD  DEFAULT ((0)) FOR [IsPlayerConnected]
GO
ALTER TABLE [dbo].[Servers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Servers] ADD  DEFAULT ((0)) FOR [AnnouncementsEnabled]
GO
