USE [DiscordBot]
GO
/****** Object:  Table [dbo].[ScrambleGame]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScrambleGame](
	[ChannelID] [nvarchar](50) NOT NULL,
	[MessageID] [nvarchar](50) NOT NULL,
	[Answer] [nvarchar](100) NOT NULL,
	[Difficulty] [nvarchar](10) NOT NULL,
	[StartedBy] [nvarchar](50) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChannelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
