USE [DiscordBot]
GO
/****** Object:  Table [dbo].[PregnancyEvents]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PregnancyEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](30) NOT NULL,
	[ServerID] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[BirthAt] [datetime2](7) NOT NULL,
	[IsBorn] [bit] NOT NULL,
	[BornAt] [datetime2](7) NULL,
	[LastChildSupport] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PregnancyEvents] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PregnancyEvents] ADD  DEFAULT ((0)) FOR [IsBorn]
GO
