USE [DiscordBot]
GO
/****** Object:  Table [dbo].[Credits]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credits](
	[CreditID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[ServerID] [varchar](50) NOT NULL,
	[Balance] [decimal](38, 0) NOT NULL,
	[TotalEarned] [decimal](38, 0) NOT NULL,
	[TotalSpent] [decimal](38, 0) NOT NULL,
	[LastDaily] [datetime] NULL,
	[LastWork] [datetime] NULL,
	[DailyStreak] [int] NOT NULL,
	[LastStreakDate] [date] NULL,
	[LifetimeEarned] [decimal](38, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CreditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Credits_User] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[ServerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Credits] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Credits] ADD  DEFAULT ((0)) FOR [TotalEarned]
GO
ALTER TABLE [dbo].[Credits] ADD  DEFAULT ((0)) FOR [TotalSpent]
GO
ALTER TABLE [dbo].[Credits] ADD  DEFAULT ((0)) FOR [DailyStreak]
GO
ALTER TABLE [dbo].[Credits] ADD  DEFAULT ((0)) FOR [LifetimeEarned]
GO
