USE [DiscordBot]
GO
/****** Object:  Table [dbo].[PassiveJackpot]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassiveJackpot](
	[ServerID] [bigint] NOT NULL,
	[Pool] [decimal](20, 0) NOT NULL,
 CONSTRAINT [PK_PassiveJackpot] PRIMARY KEY CLUSTERED 
(
	[ServerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PassiveJackpot] ADD  CONSTRAINT [DF_PassiveJackpot_Pool]  DEFAULT ((0)) FOR [Pool]
GO
