USE [DiscordBot]
GO
/****** Object:  Table [dbo].[FishLog]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FishLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[ServerID] [varchar](50) NOT NULL,
	[FishName] [nvarchar](64) NOT NULL,
	[Rarity] [varchar](16) NOT NULL,
	[Credits] [decimal](38, 0) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FishLog] ADD  DEFAULT ((0)) FOR [Credits]
GO
ALTER TABLE [dbo].[FishLog] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
