USE [DiscordBot]
GO
/****** Object:  Table [dbo].[ChatKeywordMap]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatKeywordMap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AddKeyword] [varchar](50) NOT NULL,
	[ServerID] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[Keyword]  AS (replace([AddKeyword],'add',''))
) ON [PRIMARY]
GO
