USE [DiscordBot]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [varchar](50) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[JoinDate] [datetime] NOT NULL,
	[ServerUID] [bigint] NOT NULL,
	[Nickname] [nvarchar](100) NULL,
	[PronounID] [int] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[LastSeen] [datetime] NULL
) ON [PRIMARY]
GO
