USE [DiscordBot]
GO
/****** Object:  Table [dbo].[StockHoldings]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockHoldings](
	[HoldingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[ServerID] [varchar](50) NOT NULL,
	[Ticker] [varchar](8) NOT NULL,
	[Shares] [int] NOT NULL,
	[AvgBuyPrice] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HoldingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Holdings] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[ServerID] ASC,
	[Ticker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StockHoldings] ADD  DEFAULT ((0)) FOR [Shares]
GO
ALTER TABLE [dbo].[StockHoldings] ADD  DEFAULT ((0.00)) FOR [AvgBuyPrice]
GO
