USE [DiscordBot]
GO
/****** Object:  Table [dbo].[StockTransactions]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTransactions](
	[TxID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[ServerID] [varchar](50) NOT NULL,
	[Ticker] [varchar](8) NOT NULL,
	[TxType] [varchar](4) NOT NULL,
	[Shares] [int] NOT NULL,
	[PriceEach] [decimal](12, 2) NOT NULL,
	[TotalCost] [decimal](38, 0) NOT NULL,
	[TxTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TxID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StockTransactions] ADD  DEFAULT (getutcdate()) FOR [TxTime]
GO
