USE [DiscordBot]
GO
/****** Object:  Table [dbo].[Music]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Music](
	[MusicID] [int] IDENTITY(1,1) NOT NULL,
	[ServerUID] [bigint] NOT NULL,
	[VideoID] [nvarchar](100) NOT NULL,
	[Author] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[URL] [nvarchar](500) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
