USE [DiscordBot]
GO
/****** Object:  Table [dbo].[UserActiveEffects]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActiveEffects](
	[EffectID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[ServerID] [nvarchar](50) NOT NULL,
	[EffectKey] [nvarchar](100) NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[StackCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EffectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserActiveEffects] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[ServerID] ASC,
	[EffectKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserActiveEffects] ADD  DEFAULT ((1)) FOR [StackCount]
GO
ALTER TABLE [dbo].[UserActiveEffects] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
