USE [DiscordBot]
GO
/****** Object:  Table [dbo].[Investments]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investments](
	[InvestmentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[ServerID] [varchar](50) NOT NULL,
	[Amount] [decimal](38, 0) NOT NULL,
	[Multiplier] [decimal](4, 2) NOT NULL,
	[ReturnsAt] [datetime] NOT NULL,
	[Claimed] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvestmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Investments] ADD  DEFAULT ((0)) FOR [Claimed]
GO
ALTER TABLE [dbo].[Investments] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
