USE [DiscordBot]
GO
/****** Object:  Table [dbo].[Pet]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[PetID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[ServerID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[Species] [nvarchar](10) NOT NULL,
	[XP] [int] NOT NULL,
	[Hunger] [int] NOT NULL,
	[Happiness] [int] NOT NULL,
	[Energy] [int] NOT NULL,
	[Hygiene] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsHibernating] [bit] NOT NULL,
	[Accessory1] [nvarchar](64) NOT NULL,
	[Accessory2] [nvarchar](64) NOT NULL,
	[LastFed] [datetime] NULL,
	[LastPetted] [datetime] NULL,
	[LastGroomed] [datetime] NULL,
	[LastPlayed] [datetime] NULL,
	[LastSlept] [datetime] NULL,
	[BirthDate] [datetime] NOT NULL,
	[HibernatedAt] [datetime] NULL,
	[ExploreReturnsAt] [datetime] NULL,
	[ExploreRewardKey] [nvarchar](50) NULL,
	[Breed] [nvarchar](64) NOT NULL,
	[Bio] [nvarchar](1000) NOT NULL,
	[PictureUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT ((0)) FOR [XP]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT ((80)) FOR [Hunger]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT ((80)) FOR [Happiness]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT ((80)) FOR [Energy]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT ((80)) FOR [Hygiene]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT ((0)) FOR [IsHibernating]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT ('') FOR [Accessory1]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT ('') FOR [Accessory2]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT (getutcdate()) FOR [BirthDate]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT ('') FOR [Breed]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT ('') FOR [Bio]
GO
