USE [DiscordBot]
GO
/****** Object:  Table [dbo].[ChatKeyword]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatKeyword](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ChatKeyword] [varchar](50) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[NSFW] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChatKeyword] ADD  DEFAULT ((0)) FOR [NSFW]
GO
