USE [DiscordBot]
GO
/****** Object:  Table [dbo].[Birthday]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Birthday](
	[BirthdayID] [int] IDENTITY(1,1) NOT NULL,
	[BirthdayDate] [datetime] NOT NULL,
	[BirthdayUser] [nvarchar](100) NOT NULL,
	[BirthdayGuild] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
