USE [DiscordBot]
GO
/****** Object:  Table [dbo].[PokerPlayer]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PokerPlayer](
	[PlayerID] [int] IDENTITY(1,1) NOT NULL,
	[GameID] [int] NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[Hand] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PokerPlayer] ADD  DEFAULT ('') FOR [Hand]
GO
