USE [DiscordBot]
GO
/****** Object:  Table [dbo].[Pronouns]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pronouns](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Pronoun] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
