USE [DiscordBot]
GO
/****** Object:  Table [dbo].[ChallengePool]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChallengePool](
	[ChallengeID] [int] IDENTITY(1,1) NOT NULL,
	[Key] [varchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[GameType] [varchar](30) NOT NULL,
	[TargetCount] [int] NOT NULL,
	[RewardAmount] [decimal](38, 0) NOT NULL,
	[Difficulty] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChallengeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChallengePool] ADD  DEFAULT ((1)) FOR [TargetCount]
GO
ALTER TABLE [dbo].[ChallengePool] ADD  DEFAULT ((1)) FOR [Difficulty]
GO
