USE [DiscordBot]
GO
/****** Object:  Table [dbo].[BlackjackGame]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlackjackGame](
	[UserID] [nvarchar](50) NOT NULL,
	[MessageID] [nvarchar](50) NOT NULL,
	[Deck] [nvarchar](max) NOT NULL,
	[Player] [nvarchar](500) NOT NULL,
	[Dealer] [nvarchar](500) NOT NULL,
	[Doubled] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Bet] [decimal](38, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BlackjackGame] ADD  DEFAULT ((0)) FOR [Doubled]
GO
ALTER TABLE [dbo].[BlackjackGame] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BlackjackGame] ADD  DEFAULT ((0)) FOR [Bet]
GO
