USE [DiscordBot]
GO
/****** Object:  Table [dbo].[StockHistory]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[Ticker] [varchar](8) NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[RecordedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StockHistory] ADD  DEFAULT (getutcdate()) FOR [RecordedAt]
GO
