USE [DiscordBot]
GO
/****** Object:  Table [dbo].[ForgedCosmetics]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForgedCosmetics](
	[ForgeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[ServerID] [varchar](50) NOT NULL,
	[PetID] [int] NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[Tier] [tinyint] NOT NULL,
	[DisplayText] [nvarchar](64) NOT NULL,
	[ColourHex] [varchar](7) NOT NULL,
	[CreditsCost] [decimal](38, 0) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ForgeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ForgedCosmetics] ADD  DEFAULT ('#FFFFFF') FOR [ColourHex]
GO
ALTER TABLE [dbo].[ForgedCosmetics] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
