USE [DiscordBot]
GO
/****** Object:  Table [dbo].[UserInventory]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[ServerID] [nvarchar](50) NOT NULL,
	[ItemKey] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[AcquiredAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserInventory] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[ServerID] ASC,
	[ItemKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserInventory] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[UserInventory] ADD  DEFAULT (getutcdate()) FOR [AcquiredAt]
GO
