USE [DiscordBot]
GO
/****** Object:  Table [dbo].[PetEggs]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetEggs](
	[EggID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[ServerID] [varchar](50) NOT NULL,
	[Parent1ID] [int] NOT NULL,
	[Parent2ID] [int] NOT NULL,
	[Species] [varchar](10) NOT NULL,
	[Breed] [nvarchar](64) NOT NULL,
	[BaseHunger] [int] NOT NULL,
	[BaseHappiness] [int] NOT NULL,
	[BaseEnergy] [int] NOT NULL,
	[BaseHygiene] [int] NOT NULL,
	[BaseXP] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[HatchAt] [datetime] NOT NULL,
	[IsHatched] [bit] NOT NULL,
	[HatchedPetID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EggID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PetEggs] ADD  DEFAULT ((80)) FOR [BaseHunger]
GO
ALTER TABLE [dbo].[PetEggs] ADD  DEFAULT ((80)) FOR [BaseHappiness]
GO
ALTER TABLE [dbo].[PetEggs] ADD  DEFAULT ((80)) FOR [BaseEnergy]
GO
ALTER TABLE [dbo].[PetEggs] ADD  DEFAULT ((80)) FOR [BaseHygiene]
GO
ALTER TABLE [dbo].[PetEggs] ADD  DEFAULT ((0)) FOR [BaseXP]
GO
ALTER TABLE [dbo].[PetEggs] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PetEggs] ADD  DEFAULT ((0)) FOR [IsHatched]
GO
