USE [DiscordBot]
GO
/****** Object:  Table [dbo].[BotAIMessage]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BotAIMessage](
	[BotAIMessageID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[ServerUID] [varchar](50) NOT NULL,
	[ChatRole] [varchar](10) NOT NULL,
	[ChatMessage] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ChannelID] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BotAIMessage] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
