USE [DiscordBot]
GO
/****** Object:  Table [dbo].[UsersScheduledKeyword]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersScheduledKeyword](
	[UserID] [varchar](50) NOT NULL,
	[ChatKeyword] [varchar](100) NOT NULL,
	[ScheduledDateTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
