USE [DiscordBot]
GO
/****** Object:  Table [dbo].[MusicQueue]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusicQueue](
	[MusicQueueID] [int] IDENTITY(1,1) NOT NULL,
	[MusicID] [int] NOT NULL,
	[ServerUID] [bigint] NOT NULL,
	[VoiceChannelID] [bigint] NOT NULL,
	[TextChannelID] [bigint] NOT NULL,
	[URL] [nvarchar](500) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
