USE [DiscordBot]
GO
/****** Object:  Table [dbo].[WordleGame]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordleGame](
	[ChannelID] [nvarchar](50) NOT NULL,
	[MessageID] [nvarchar](50) NOT NULL,
	[Answer] [nvarchar](10) NOT NULL,
	[Guesses] [nvarchar](500) NOT NULL,
	[StartedBy] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChannelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WordleGame] ADD  DEFAULT ('') FOR [Guesses]
GO
ALTER TABLE [dbo].[WordleGame] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
