USE [DiscordBot]
GO
/****** Object:  Table [dbo].[PassiveJackpotContributors]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassiveJackpotContributors](
	[ServerID] [bigint] NOT NULL,
	[UserID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PassiveJackpotContributors] PRIMARY KEY CLUSTERED 
(
	[ServerID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
