USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetEggByID]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Returns a specific egg by ID (used during /hatchegg to verify readiness).
CREATE   PROCEDURE [dbo].[GetEggByID]
    @EggID  INT,
    @UserID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        EggID, Species, Breed,
        BaseHunger, BaseHappiness, BaseEnergy, BaseHygiene, BaseXP,
        Parent1ID, Parent2ID, HatchAt, IsHatched,
        DATEDIFF(SECOND, GETUTCDATE(), HatchAt) AS SecondsRemaining
    FROM PetEggs
    WHERE EggID = @EggID AND UserID = @UserID;
END
GO
