USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePetPicture]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdatePetPicture]
    @PetID     INT,
    @UserID    VARCHAR(50),
    @PictureUrl NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Pet SET PictureUrl = @PictureUrl WHERE PetID = @PetID AND UserID = @UserID;
END
GO
