USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetForgedCosmetics]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Returns all forged cosmetics for a given pet
CREATE   PROCEDURE [dbo].[GetForgedCosmetics]
    @PetID  INT,
    @UserID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ForgeID, Type, Tier, DisplayText, ColourHex, CreditsCost, CreatedAt
    FROM   ForgedCosmetics
    WHERE  PetID = @PetID AND UserID = @UserID
    ORDER  BY CreatedAt DESC;
END
GO
