USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetChatKeywordRecent]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetChatKeywordRecent]
	-- Add the parameters for the stored procedure here
	@Keyword varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT
		ck.FilePath
	FROM
		ChatKeyword ck
	WHERE
		ChatKeyword = @Keyword
	ORDER BY
		ck.ID DESC
END
GO
