USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[ClaimPetPuzzle]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ClaimPetPuzzle]
    @PuzzleID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE PetWordPuzzle SET Claimed = 1 WHERE PuzzleID = @PuzzleID;
END
GO
