USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[SetActivePet]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SetActivePet]
    @UserID VARCHAR(50),
    @PetID  INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Pet SET IsActive = 0 WHERE UserID = @UserID;
    UPDATE Pet SET IsActive = 1 WHERE PetID  = @PetID AND UserID = @UserID;
END
GO
