USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetServers]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- GetServers
-- No changes.
-- =============================================================================
CREATE   PROCEDURE [dbo].[GetServers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ServerUID, ServerName, DefaultChannelID, IsActive
    FROM Servers
    WHERE IsActive = 1;
END

GO
