USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[ConsumeActiveEffect]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Decrements StackCount; removes row when exhausted. Returns Success bit.
CREATE PROCEDURE [dbo].[ConsumeActiveEffect]
    @UserID    NVARCHAR(50),
    @ServerID  NVARCHAR(50),
    @EffectKey NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM UserActiveEffects
               WHERE  UserID = @UserID AND ServerID = @ServerID
                 AND  EffectKey = @EffectKey AND StackCount > 0
                 AND  (ExpiresAt IS NULL OR ExpiresAt > GETUTCDATE()))
    BEGIN
        UPDATE UserActiveEffects
        SET    StackCount = StackCount - 1
        WHERE  UserID = @UserID AND ServerID = @ServerID AND EffectKey = @EffectKey;

        DELETE FROM UserActiveEffects
        WHERE  UserID = @UserID AND ServerID = @ServerID
          AND  EffectKey = @EffectKey AND StackCount <= 0;

        SELECT 1 AS Success;
    END
    ELSE
        SELECT 0 AS Success;
END
GO
