USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetBlackjackByUser]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetBlackjackByUser]
    @UserID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT UserID, MessageID, Deck, Player, Dealer, Doubled, Bet
    FROM   BlackjackGame
    WHERE  UserID = @UserID;
END
GO
