USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddBlackjackGame]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AddBlackjackGame]
    @UserID    VARCHAR(50),
    @MessageID VARCHAR(50),
    @Deck      NVARCHAR(MAX),
    @Player    NVARCHAR(MAX),
    @Dealer    NVARCHAR(MAX),
    @Doubled   BIT,
    @Bet       DECIMAL(38,0) = 0
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO BlackjackGame (UserID, MessageID, Deck, Player, Dealer, Doubled, Bet)
    VALUES (@UserID, @MessageID, @Deck, @Player, @Dealer, @Doubled, @Bet);
END
GO
