USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdateBrokenEmbed]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- UpdateBrokenEmbed
-- Changes:
--   - Resolves @ServerUID to @ServerID for index-backed UPDATE and SELECT
-- =============================================================================
CREATE   PROCEDURE [dbo].[UpdateBrokenEmbed]
    @ServerUID bigint
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ServerID INT = (SELECT ServerID FROM Servers WHERE ServerUID = @ServerUID);
    IF @ServerID IS NULL RETURN;

    UPDATE Servers
    SET FixEmbed = ~FixEmbed
    WHERE ServerID = @ServerID;

    SELECT
        FixEmbed,
        CASE
            WHEN FixEmbed = 1 THEN 'The bot will now embed Twitter, Reddit, and Bluesky links.'
            ELSE                   'The bot will no longer embed Twitter, Reddit, and Bluesky links.'
        END AS [Result]
    FROM Servers
    WHERE ServerID = @ServerID;
END

GO
