USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddPet]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── Pet CRUD ──────────────────────────────────────────────────────────────────

CREATE   PROCEDURE [dbo].[AddPet]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50),
    @Name     NVARCHAR(32),
    @Species  VARCHAR(10),
    @Breed    NVARCHAR(64),
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;
    IF @IsActive = 1
        UPDATE Pet SET IsActive = 0 WHERE UserID = @UserID;

    INSERT INTO Pet (UserID, ServerID, Name, Species, Breed, IsActive)
    VALUES (@UserID, @ServerID, @Name, @Species, @Breed, @IsActive);
END
GO
