USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddPokerPlayer]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AddPokerPlayer]
    @GameID  INT,
    @UserID  VARCHAR(50),
    @Hand    NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;
    -- Prevent duplicate joins
    IF NOT EXISTS (SELECT 1 FROM PokerPlayer WHERE GameID = @GameID AND UserID = @UserID)
        INSERT INTO PokerPlayer (GameID, UserID, Hand) VALUES (@GameID, @UserID, @Hand);
END
GO
