USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetActivePregnancy]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================================================
-- GetActivePregnancy — one active (not yet born) row per user+server
-- =============================================================================
CREATE   PROCEDURE [dbo].[GetActivePregnancy]
    @UserID     NVARCHAR(30),
    @ServerID   NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1 *
    FROM   PregnancyEvents
    WHERE  UserID   = @UserID
      AND  ServerID = @ServerID
      AND  IsBorn   = 0
    ORDER  BY CreatedAt DESC;
END
GO
