USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetPetLeaderboard]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── Leaderboard ───────────────────────────────────────────────────────────────

CREATE   PROCEDURE [dbo].[GetPetLeaderboard]
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 10
           p.PetID, p.Name, p.Species, p.XP, p.IsHibernating,
           u.Username
    FROM   Pet p
    LEFT   JOIN [dbo].[Users] u ON u.UserID = p.UserID
                                AND u.ServerUID = TRY_CAST(@ServerID AS BIGINT)
    WHERE  p.ServerID = @ServerID
    ORDER  BY p.XP DESC;
END
GO
