USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdateDailyStreak]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Called after a successful /daily claim. Increments streak if claimed on
-- consecutive days, resets to 1 if a day was skipped.
-- Returns new DailyStreak value.
CREATE   PROCEDURE [dbo].[UpdateDailyStreak]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Today         DATE          = CAST(GETUTCDATE() AS DATE);
    DECLARE @LastStreak    DATE;
    DECLARE @CurrentStreak INT;

    SELECT @LastStreak    = LastStreakDate,
           @CurrentStreak = DailyStreak
    FROM   Credits
    WHERE  UserID = @UserID AND ServerID = @ServerID;

    DECLARE @NewStreak INT =
        CASE
            WHEN @LastStreak IS NULL                         THEN 1   -- first ever
            WHEN DATEDIFF(DAY, @LastStreak, @Today) = 1     THEN @CurrentStreak + 1  -- consecutive
            ELSE 1                                                     -- missed a day
        END;

    UPDATE Credits SET
        DailyStreak    = @NewStreak,
        LastStreakDate = @Today
    WHERE UserID = @UserID AND ServerID = @ServerID;

    SELECT @NewStreak AS DailyStreak;
END
GO
