USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[ClaimPassiveJackpot]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Claims the full pool for a winner and resets to 0.
CREATE   PROCEDURE [dbo].[ClaimPassiveJackpot]
    @ServerID BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Claimed DECIMAL(20, 0) = 0;

    UPDATE [dbo].[PassiveJackpot]
    SET    @Claimed = [Pool],
           [Pool]   = 0
    WHERE  [ServerID] = @ServerID;

    SELECT @Claimed AS [Pool];
END
GO
