USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetPendingInvestment]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetPendingInvestment]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1 InvestmentID, Amount, Multiplier, ReturnsAt
    FROM   Investments
    WHERE  UserID = @UserID AND ServerID = @ServerID AND Claimed = 0
    ORDER  BY CreatedAt DESC;
END
GO
