USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[EnsureCreditAccount]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════════════════════════════════════════
-- STEP 3 — Stored procedures: Credits
-- ══════════════════════════════════════════════════════════════════════════════

-- Creates account if not exists (idempotent)
CREATE   PROCEDURE [dbo].[EnsureCreditAccount]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM Credits WHERE UserID = @UserID AND ServerID = @ServerID)
        INSERT INTO Credits (UserID, ServerID) VALUES (@UserID, @ServerID);
END
GO
