USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddTriviaMessage]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- AddTriviaMessage
-- Changes:
--   - Explicit column list in INSERT
-- =============================================================================
CREATE   PROCEDURE [dbo].[AddTriviaMessage]
    @TriviaMessageID bigint,
    @CorrectAnswer   nvarchar(max)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[TriviaMessage] (TriviaMessageID, CorrectAnswer, CreatedOn)
    VALUES (@TriviaMessageID, @CorrectAnswer, GETDATE());
END

GO
