USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetStockTransactions]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get recent transactions for a user
CREATE   PROCEDURE [dbo].[GetStockTransactions]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 10 Ticker, TxType, Shares, PriceEach, TotalCost, TxTime
    FROM   StockTransactions
    WHERE  UserID = @UserID AND ServerID = @ServerID
    ORDER BY TxTime DESC;
END
GO
