USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetAIJSONImageReturn]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- GetAIJSONImageReturn
-- No schema dependency -- pure JSON parsing. No changes.
-- =============================================================================
CREATE   PROCEDURE [dbo].[GetAIJSONImageReturn]
    @json nvarchar(max)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Status,
        CONVERT(float, Result) * 100.0 AS [PercentageChance]
    FROM OPENJSON(@json)
    WITH
    (
        Status varchar(50) '$.status',
        Result varchar(50) '$.type.ai_generated'
    );
END

GO
