USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetAllActivePets]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetAllActivePets]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT PetID, UserID, ServerID, Name, Species,
           Hunger, Happiness, Energy, IsHibernating
    FROM   Pet
    WHERE  IsActive = 1;
END
GO
