USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetTotalForged]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Returns total credits burned by a user across all forges (for /stats display)
CREATE   PROCEDURE [dbo].[GetTotalForged]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        COUNT(*)          AS TotalForges,
        SUM(CreditsCost)  AS TotalBurned
    FROM ForgedCosmetics
    WHERE UserID = @UserID AND ServerID = @ServerID;
END
GO
