USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[RemovePetCosmetic]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RemovePetCosmetic]
    @PetID        INT,
    @CosmeticType NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM PetCosmetics WHERE PetID = @PetID AND CosmeticType = @CosmeticType;
END
GO
