USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddPetXP]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Returns new XP value so caller can check for level-up
CREATE   PROCEDURE [dbo].[AddPetXP]
    @PetID  INT,
    @Amount INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Pet SET XP = XP + @Amount WHERE PetID = @PetID;
    SELECT XP FROM Pet WHERE PetID = @PetID;
END
GO
