USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetUserStats]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ── Combined /stats SP ────────────────────────────────────────────────────────

-- Returns gamble stats (existing GetGambleStats logic) + fish stats in one call.
CREATE   PROCEDURE [dbo].[GetUserStats]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Result set 1: per-game gamble breakdown
    SELECT
        Game,
        COUNT(*)                                          AS GamesPlayed,
        SUM(Bet)                                          AS TotalWagered,
        SUM(CASE WHEN Net > 0 THEN 1 ELSE 0 END)         AS Wins,
        SUM(CASE WHEN Net < 0 THEN 1 ELSE 0 END)         AS Losses,
        SUM(CASE WHEN Net = 0 THEN 1 ELSE 0 END)         AS Draws,
        MAX(Net)                                          AS BiggestWin,
        MIN(Net)                                          AS BiggestLoss,
        SUM(Net)                                         AS NetTotal
    FROM GambleLog
    WHERE UserID = @UserID AND ServerID = @ServerID
    GROUP BY Game
    ORDER BY TotalWagered DESC;

    -- Result set 2: fish summary
    SELECT
        COUNT(*)               AS TotalCaught,
        ISNULL(SUM(Credits), 0)  AS TotalFishEarned,
        ISNULL(MAX(Credits), 0)  AS BiggestCatch,
        SUM(CASE WHEN Rarity = 'Legendary' THEN 1 ELSE 0 END) AS Legendaries,
        SUM(CASE WHEN Rarity = 'Rare'      THEN 1 ELSE 0 END) AS Rares,
        SUM(CASE WHEN Rarity = 'Uncommon'  THEN 1 ELSE 0 END) AS Uncommons,
        SUM(CASE WHEN Rarity = 'Common'    THEN 1 ELSE 0 END) AS Commons,
        SUM(CASE WHEN Rarity = 'Junk'      THEN 1 ELSE 0 END) AS Junks
    FROM FishLog
    WHERE UserID = @UserID AND ServerID = @ServerID;

    -- Result set 3: lifetime + prestige info
    SELECT
        LifetimeEarned,
        DailyStreak,
        Balance
    FROM Credits
    WHERE UserID = @UserID AND ServerID = @ServerID;
END
GO
