USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddGambleLog]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AddGambleLog]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50),
    @Game     VARCHAR(30),
    @Bet      DECIMAL(38,0),
    @Payout   DECIMAL(38,0)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO GambleLog (UserID, ServerID, Game, Bet, Payout, Net)
    VALUES (@UserID, @ServerID, @Game, @Bet, @Payout, @Payout - @Bet);
END
GO
