USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[ClearPetExplore]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Clear after reward is claimed
CREATE   PROCEDURE [dbo].[ClearPetExplore]
    @PetID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Pet SET
        ExploreReturnsAt = NULL,
        ExploreRewardKey = NULL
    WHERE PetID = @PetID;
END
GO
