USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddBotAIMessage]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddBotAIMessage]
	-- Add the parameters for the stored procedure here
	@UserID varchar(50),
	@ServerUID varchar(50),
	@ChannelID varchar(50) = null,
	@ChatRole varchar(10),
	@ChatMessage nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO [dbo].[BotAIMessage]
			([UserID]
			,[ServerUID]
			,[ChannelID]
			,[ChatRole]
			,[ChatMessage]
			,[CreatedOn])
		VALUES
			(@UserID
			,@ServerUID
			,@ChannelID
			,@ChatRole
			,@ChatMessage
			,GETDATE())
END
GO
