USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetTrivia]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- GetTrivia
-- No schema dependency -- pure JSON parsing. No changes.
-- =============================================================================
CREATE   PROCEDURE [dbo].[GetTrivia]
    @ResponseText nvarchar(max)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Category, Difficulty, Question, CorrectAnswer,
        FirstIncorrect, SecondIncorrect, ThirdIncorrect
    FROM OPENJSON(@ResponseText)
    WITH
    (
        Category        nvarchar(max) '$.results[0].category',
        Difficulty      nvarchar(max) '$.results[0].difficulty',
        Question        nvarchar(max) '$.results[0].question',
        CorrectAnswer   nvarchar(max) '$.results[0].correct_answer',
        FirstIncorrect  nvarchar(max) '$.results[0].incorrect_answers[0]',
        SecondIncorrect nvarchar(max) '$.results[0].incorrect_answers[1]',
        ThirdIncorrect  nvarchar(max) '$.results[0].incorrect_answers[2]'
    );
END

GO
