USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[CleanExpiredEffects]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Housekeeping — called by the BotHost timer to prune expired rows
CREATE PROCEDURE [dbo].[CleanExpiredEffects]
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM UserActiveEffects
    WHERE  ExpiresAt IS NOT NULL AND ExpiresAt <= GETUTCDATE();
END
GO
