USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetAllServerUsers]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ── GetAllServerUsers — returns every UserID with a credit account in a server
-- Used by the revolt command to split seized assets across all members.
CREATE   PROCEDURE [dbo].[GetAllServerUsers]
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT UserID
    FROM   Credits
    WHERE  ServerID = @ServerID;
END
GO
