USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[DeletePet]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[DeletePet]
    @PetID  INT,
    @UserID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM Pet WHERE PetID = @PetID AND UserID = @UserID;
END
GO
