USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetEmbedBroken]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- GetEmbedBroken
-- Changes:
--   - Resolves @ServerUID to @ServerID for index-backed lookup
-- =============================================================================
CREATE   PROCEDURE [dbo].[GetEmbedBroken]
    @ServerUID bigint
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ServerID INT = (SELECT ServerID FROM Servers WHERE ServerUID = @ServerUID);

    SELECT FixEmbed
    FROM Servers
    WHERE ServerID = @ServerID;
END

GO
