USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[WakePet]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[WakePet]
    @PetID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Pet SET
        IsHibernating = 0,
        HibernatedAt  = NULL
    WHERE PetID = @PetID;
END
GO
