USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePetStats]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdatePetStats]
    @PetID         INT,
    @Hunger        INT,
    @Happiness     INT,
    @Energy        INT,
    @Hygiene       INT,
    @XP            INT,
    @IsHibernating BIT,
    @LastFed       DATETIME NULL,
    @LastPetted    DATETIME NULL,
    @LastGroomed   DATETIME NULL,
    @LastPlayed    DATETIME NULL,
    @LastSlept     DATETIME NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Pet SET
        Hunger        = @Hunger,
        Happiness     = @Happiness,
        Energy        = @Energy,
        Hygiene       = @Hygiene,
        XP            = @XP,
        IsHibernating = @IsHibernating,
        LastFed       = CASE WHEN @LastFed     IS NOT NULL THEN @LastFed     ELSE LastFed     END,
        LastPetted    = CASE WHEN @LastPetted  IS NOT NULL THEN @LastPetted  ELSE LastPetted  END,
        LastGroomed   = CASE WHEN @LastGroomed IS NOT NULL THEN @LastGroomed ELSE LastGroomed END,
        LastPlayed    = CASE WHEN @LastPlayed  IS NOT NULL THEN @LastPlayed  ELSE LastPlayed  END,
        LastSlept     = CASE WHEN @LastSlept   IS NOT NULL THEN @LastSlept   ELSE LastSlept   END
    WHERE PetID = @PetID;
END
GO
