USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetScrambleByChannel]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetScrambleByChannel]
    @ChannelID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ChannelID, MessageID, Answer, Difficulty, StartedBy, ExpiresAt
    FROM   ScrambleGame
    WHERE  ChannelID = @ChannelID;
END
GO
