USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePokerStatus]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdatePokerStatus]
    @GameID    INT,
    @Status    VARCHAR(20),
    @Community NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE PokerLobby SET Status = @Status, Community = @Community WHERE GameID = @GameID;
END
GO
