USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[SetPetCosmetic]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Upserts (one title and one aura allowed per pet)
CREATE PROCEDURE [dbo].[SetPetCosmetic]
    @PetID        INT,
    @CosmeticType NVARCHAR(50),
    @CosmeticKey  NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM PetCosmetics WHERE PetID = @PetID AND CosmeticType = @CosmeticType)
        UPDATE PetCosmetics
        SET    CosmeticKey = @CosmeticKey, AppliedAt = GETUTCDATE()
        WHERE  PetID = @PetID AND CosmeticType = @CosmeticType;
    ELSE
        INSERT INTO PetCosmetics (PetID, CosmeticType, CosmeticKey)
        VALUES (@PetID, @CosmeticType, @CosmeticKey);
END
GO
