USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePetBio]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdatePetBio]
    @PetID INT,
    @Bio   NVARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Pet SET Bio = @Bio WHERE PetID = @PetID;
END
GO
