USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[DeleteBlackjackGame]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[DeleteBlackjackGame]
    @UserID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM BlackjackGame WHERE UserID = @UserID;
END
GO
