USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddPetJournalEntry]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════════════════════════════════════════
-- Stored procedures
-- ══════════════════════════════════════════════════════════════════════════════

-- Add a journal entry, keeping only the 50 most recent per pet
CREATE   PROCEDURE [dbo].[AddPetJournalEntry]
    @PetID   INT,
    @Event   VARCHAR(20),
    @Details NVARCHAR(256)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO PetJournal (PetID, Event, Details)
    VALUES (@PetID, @Event, @Details);

    -- Prune to 50 most recent entries for this pet
    DELETE FROM PetJournal
    WHERE PetID = @PetID
      AND JournalID NOT IN (
          SELECT TOP 50 JournalID
          FROM   PetJournal
          WHERE  PetID = @PetID
          ORDER  BY JournalID DESC
      );
END
GO
