USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetOrAssignDailyChallenges]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ── Daily Challenges ──────────────────────────────────────────────────────────

-- Returns today's 3 assigned challenges with their pool definitions.
-- Assigns them if none exist yet for today.
CREATE   PROCEDURE [dbo].[GetOrAssignDailyChallenges]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Today DATE = CAST(GETUTCDATE() AS DATE);

    -- Assign if not yet assigned today
    IF NOT EXISTS (
        SELECT 1 FROM UserDailyChallenges
        WHERE UserID = @UserID AND ServerID = @ServerID AND ChallengeDate = @Today
    )
    BEGIN
        -- Pick 1 challenge per difficulty tier at random
        DECLARE @C1 INT, @C2 INT, @C3 INT;

        SELECT TOP 1 @C1 = ChallengeID FROM ChallengePool
        WHERE Difficulty = 1 ORDER BY NEWID();

        SELECT TOP 1 @C2 = ChallengeID FROM ChallengePool
        WHERE Difficulty = 2 ORDER BY NEWID();

        SELECT TOP 1 @C3 = ChallengeID FROM ChallengePool
        WHERE Difficulty = 3 ORDER BY NEWID();

        INSERT INTO UserDailyChallenges
            (UserID, ServerID, ChallengeDate, Challenge1ID, Challenge2ID, Challenge3ID)
        VALUES
            (@UserID, @ServerID, @Today, @C1, @C2, @C3);
    END

    -- Return with full challenge info
    SELECT
        udc.Progress1,  udc.Progress2,  udc.Progress3,
        udc.BonusClaimed,
        c1.ChallengeID AS C1ID, c1.[Key] AS C1Key, c1.Description AS C1Desc,
            c1.TargetCount AS C1Target, c1.RewardAmount AS C1Reward, c1.Difficulty AS C1Diff,
        c2.ChallengeID AS C2ID, c2.[Key] AS C2Key, c2.Description AS C2Desc,
            c2.TargetCount AS C2Target, c2.RewardAmount AS C2Reward, c2.Difficulty AS C2Diff,
        c3.ChallengeID AS C3ID, c3.[Key] AS C3Key, c3.Description AS C3Desc,
            c3.TargetCount AS C3Target, c3.RewardAmount AS C3Reward, c3.Difficulty AS C3Diff
    FROM UserDailyChallenges udc
    JOIN ChallengePool c1 ON c1.ChallengeID = udc.Challenge1ID
    JOIN ChallengePool c2 ON c2.ChallengeID = udc.Challenge2ID
    JOIN ChallengePool c3 ON c3.ChallengeID = udc.Challenge3ID
    WHERE udc.UserID = @UserID AND udc.ServerID = @ServerID AND udc.ChallengeDate = @Today;
END
GO
