USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddPetWordPuzzle]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── Word puzzle ───────────────────────────────────────────────────────────────

CREATE   PROCEDURE [dbo].[AddPetWordPuzzle]
    @ChannelID VARCHAR(50),
    @Word      NVARCHAR(50),
    @ExpiresAt DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO PetWordPuzzle (ChannelID, Word, ExpiresAt)
    VALUES (@ChannelID, @Word, @ExpiresAt);
END
GO
