USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetTriviaToken]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- GetTriviaToken
-- No schema changes.
-- =============================================================================
CREATE   PROCEDURE [dbo].[GetTriviaToken]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT dbo.GetTriviaTokenFromAPI() AS [Token];
END

GO
