USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddFishLog]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ── Fish Log ──────────────────────────────────────────────────────────────────

CREATE   PROCEDURE [dbo].[AddFishLog]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50),
    @FishName NVARCHAR(64),
    @Rarity   VARCHAR(16),
    @Credits  DECIMAL(38,0)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO FishLog (UserID, ServerID, FishName, Rarity, Credits)
    VALUES (@UserID, @ServerID, @FishName, @Rarity, @Credits);
END
GO
