USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[MarkKeywordNSFW]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- MarkKeywordNSFW
-- NOTE: Same leading-wildcard LIKE caveat as GetKeywordNSFW applies here.
--       TODO: Replace with hash/checksum equality match on FilePath.
-- Changes:
--   - Redundant EXISTS check removed; WHERE NSFW = 0 makes UPDATE self-guarding
-- =============================================================================
CREATE   PROCEDURE [dbo].[MarkKeywordNSFW]
    @Message nvarchar(max)
AS
BEGIN
    SET NOCOUNT ON;

    -- TODO: Replace leading-wildcard LIKE with hash/checksum equality match.
    UPDATE ChatKeyword
    SET NSFW = 1
    WHERE FilePath LIKE '%' + @Message + '%'
      AND NSFW = 0;

    SELECT TOP 1 NSFW
    FROM ChatKeyword
    WHERE FilePath LIKE '%' + @Message + '%';
END

GO
