USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddMusicQueue]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddMusicQueue]
	-- Add the parameters for the stored procedure here
	@MusicID int,
	@ServerID bigint,
	@VoiceChannelID bigint,
	@TextChannelID bigint,
	@URL nvarchar(500),
	@CreatedBy varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[MusicQueue]
			   (MusicID
			   ,[ServerUID]
			   ,[VoiceChannelID]
			   ,[TextChannelID]
			   ,[URL]
			   ,[CreatedOn]
			   ,[CreatedBy])
		VALUES
			(@MusicID
			,@ServerID
			,@VoiceChannelID
			,@TextChannelID
			,@URL
			,GETDATE()
			,@CreatedBy)

END
GO
