USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePetAccessory]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdatePetAccessory]
    @PetID    INT,
    @SlotName VARCHAR(20),   -- 'Accessory1' or 'Accessory2'
    @Item     NVARCHAR(64)
AS
BEGIN
    SET NOCOUNT ON;
    IF @SlotName = 'Accessory1'
        UPDATE Pet SET Accessory1 = @Item WHERE PetID = @PetID;
    ELSE
        UPDATE Pet SET Accessory2 = @Item WHERE PetID = @PetID;
END
GO
