USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[ApplyStockTick]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Apply a pre-calculated new price for one ticker
CREATE   PROCEDURE [dbo].[ApplyStockTick]
    @Ticker    VARCHAR(8),
    @NewPrice  DECIMAL(12,2)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Stocks
    SET    PrevPrice   = Price,
           Price       = @NewPrice,
           High24h     = CASE WHEN @NewPrice > High24h THEN @NewPrice ELSE High24h END,
           Low24h      = CASE WHEN @NewPrice < Low24h  THEN @NewPrice ELSE Low24h  END,
           LastUpdated = GETUTCDATE()
    WHERE  Ticker = @Ticker;

    -- Archive to history
    INSERT INTO StockHistory (Ticker, Price) VALUES (@Ticker, @NewPrice);

    -- Keep only last 10
    DELETE FROM StockHistory
    WHERE Ticker = @Ticker
      AND HistoryID NOT IN (
        SELECT TOP 10 HistoryID
        FROM   StockHistory
        WHERE  Ticker = @Ticker
        ORDER BY RecordedAt DESC
    );
END
GO
