USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetStockHistory]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get last 10 price history entries for a ticker (used by /stock info sparkline)
CREATE   PROCEDURE [dbo].[GetStockHistory]
    @Ticker VARCHAR(8)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 10 Price, RecordedAt
    FROM   StockHistory
    WHERE  Ticker = @Ticker
    ORDER BY RecordedAt DESC;
END
GO
