USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[RenamePet]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[RenamePet]
    @PetID INT,
    @Name  NVARCHAR(32)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Pet SET Name = @Name WHERE PetID = @PetID;
END
GO
