USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetDueChildSupport]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================================================
-- GetDueChildSupport — born rows where LastChildSupport < today (or NULL)
-- Called by BotHost daily timer
-- =============================================================================
CREATE   PROCEDURE [dbo].[GetDueChildSupport]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT *
    FROM   PregnancyEvents
    WHERE  IsBorn = 1
      AND  (LastChildSupport IS NULL OR LastChildSupport < CAST(GETUTCDATE() AS DATE));
END
GO
