USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[ClaimInvestment]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ClaimInvestment]
    @InvestmentID INT,
    @UserID       VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Investments SET Claimed = 1
    WHERE  InvestmentID = @InvestmentID AND UserID = @UserID;
END
GO
