USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetStockDetail]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetStockDetail]
	-- Add the parameters for the stored procedure here
	@Ticker varchar(8)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
		[Ticker]
      ,[CompanyName]
      ,[Sector]
      ,[Price]
      ,[PrevPrice]
      ,[High24h]
      ,[Low24h]
      ,[Volatility]
      ,[Trend]
      ,[LastUpdated]
	FROM
		Stocks
	WHERE
		Ticker = @Ticker
END
GO
