USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdateVolume]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- UpdateVolume
-- Changes:
--   - Resolves @ServerUID to @ServerID for index-backed UPDATE
-- =============================================================================
CREATE   PROCEDURE [dbo].[UpdateVolume]
    @ServerUID bigint,
    @Volume    int
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ServerID INT = (SELECT ServerID FROM Servers WHERE ServerUID = @ServerUID);
    IF @ServerID IS NULL RETURN;

    UPDATE Servers
    SET Volume = @Volume
    WHERE ServerID = @ServerID;
END

GO
