USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetMusicQueue]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetMusicQueue]
    @ServerID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MusicQueueID,
           URL,
           CreatedBy
    FROM   MusicQueue
    WHERE  ServerUID = @ServerID
    ORDER  BY MusicQueueID ASC;   -- preserve enqueue order
END
GO
