USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddAudit]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddAudit] 
	-- Add the parameters for the stored procedure here
	@Command varchar(50),
	@CreatedBy varchar(50),
	@ServerID bigint = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @CreatedBy IS NOT NULL AND @CreatedBy <> '171369791486033920'
	BEGIN
		-- Insert statements for procedure here
		INSERT INTO [dbo].[AuditLog]
			   ([Command]
			   ,[CreatedOn]
			   ,[CreatedBy]
			   ,ServerUID)
		 VALUES
			   (@Command
			   ,GETDATE()
			   ,@CreatedBy
			   ,@ServerID)
	END
END
GO
