USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[TickStockPrices]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tick prices for all stocks (called by background timer)
CREATE   PROCEDURE [dbo].[TickStockPrices]
AS
BEGIN
    SET NOCOUNT ON;

    -- Archive current prices to history
    INSERT INTO StockHistory (Ticker, Price, RecordedAt)
    SELECT Ticker, Price, GETUTCDATE() FROM Stocks;

    -- Prune history to last 10 per ticker
    DELETE FROM StockHistory
    WHERE HistoryID NOT IN (
        SELECT TOP 10 HistoryID
        FROM   StockHistory sh2
        WHERE  sh2.Ticker = StockHistory.Ticker
        ORDER BY RecordedAt DESC
    );

    -- Update prices with a random walk (SQL approximation using CHECKSUM+RAND)
    -- The actual random walk is done in C# — this proc just applies the new prices
    -- See ApplyStockTick proc below.
END
GO
