USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[ApplyEggStats]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ──────────────────────────────────────────────────────────────────────────────
-- ApplyEggStats — sets base stats + XP on a newly hatched pet.
-- Separate from the existing UpdatePetStats SP used by explore/care commands.
-- ──────────────────────────────────────────────────────────────────────────────
CREATE   PROCEDURE [dbo].[ApplyEggStats]
    @PetID     INT,
    @UserID    VARCHAR(50),
    @Hunger    INT,
    @Happiness INT,
    @Energy    INT,
    @Hygiene   INT,
    @XP        INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Pet SET
        Hunger    = @Hunger,
        Happiness = @Happiness,
        Energy    = @Energy,
        Hygiene   = @Hygiene,
        XP        = @XP
    WHERE PetID = @PetID AND UserID = @UserID;
END
GO
