USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[ResetLifetimeEarned]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ── Prestige Reset — zeroes a single user's LifetimeEarned ───────────────────
CREATE   PROCEDURE [dbo].[ResetLifetimeEarned]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Credits
    SET    LifetimeEarned = 0,
           DailyStreak    = 0
    WHERE  UserID   = @UserID
      AND  ServerID = @ServerID;
END
GO
