USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[DeletePokerGame]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[DeletePokerGame]
    @GameID INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM PokerPlayer WHERE GameID = @GameID;
    DELETE FROM PokerLobby  WHERE GameID = @GameID;
END
GO
