USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetAllStocks]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════════════════════════════════════════
-- STORED PROCEDURES
-- ══════════════════════════════════════════════════════════════════════════════

-- Get all stocks (market overview)
CREATE   PROCEDURE [dbo].[GetAllStocks]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Ticker, CompanyName, Sector, Price, PrevPrice, High24h, Low24h, Volatility, Trend, LastUpdated
    FROM   Stocks
    ORDER BY Ticker;
END
GO
