USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddCredits]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AddCredits]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50),
    @Amount   DECIMAL(38,0),
    @Source   VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    EXEC EnsureCreditAccount @UserID, @ServerID;

    UPDATE Credits SET
        Balance     = Balance + @Amount,
        TotalEarned = TotalEarned + @Amount,
        LastDaily   = CASE WHEN @Source = 'daily' THEN GETUTCDATE() ELSE LastDaily END,
        LastWork    = CASE WHEN @Source = 'work'  THEN GETUTCDATE() ELSE LastWork  END
    WHERE UserID = @UserID AND ServerID = @ServerID;

    SELECT Balance FROM Credits WHERE UserID = @UserID AND ServerID = @ServerID;
END
GO
