USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[DeleteChatKeywordURL]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteChatKeywordURL]
	-- Add the parameters for the stored procedure here
	@FilePath nvarchar(max),
	@Keyword varchar(50)=''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM ChatKeyword WHERE FilePath = @FilePath AND ChatKeyword = @Keyword
END
GO
