USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddLifetimeEarned]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Called by AddCredits for any positive source — keeps LifetimeEarned in sync.
CREATE   PROCEDURE [dbo].[AddLifetimeEarned]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50),
    @Amount   DECIMAL(38,0)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Credits
    SET    LifetimeEarned = LifetimeEarned + @Amount
    WHERE  UserID = @UserID AND ServerID = @ServerID;
END
GO
