USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdateWordleGame]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdateWordleGame]
    @ChannelID NVARCHAR(50),
    @Guesses   NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE WordleGame SET Guesses = @Guesses WHERE ChannelID = @ChannelID;
END
GO
