USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetCreditLeaderboard]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ── GetCreditLeaderboard — ensure UserID is returned for Bank Heist ──────────
-- If your existing SP already returns UserID this is a no-op change.
CREATE   PROCEDURE [dbo].[GetCreditLeaderboard]
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 20
        c.UserID,
        ISNULL(u.Username, CONCAT('User_', c.UserID)) AS Username,
        c.Balance
    FROM   Credits c
    LEFT   JOIN [dbo].[Users] u ON u.UserID     = c.UserID
                               AND u.ServerUID  = TRY_CAST(@ServerID AS BIGINT)
    WHERE  c.ServerID = @ServerID
    ORDER  BY c.Balance DESC;
END
GO
