USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[DeductFromInventory]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Returns SELECT Success = 1 on success, 0 if not owned/insufficient quantity
CREATE PROCEDURE [dbo].[DeductFromInventory]
    @UserID   NVARCHAR(50),
    @ServerID NVARCHAR(50),
    @ItemKey  NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM UserInventory
               WHERE  UserID = @UserID AND ServerID = @ServerID
                 AND  ItemKey = @ItemKey AND Quantity > 0)
    BEGIN
        UPDATE UserInventory
        SET    Quantity = Quantity - 1
        WHERE  UserID = @UserID AND ServerID = @ServerID AND ItemKey = @ItemKey;
        SELECT 1 AS Success;
    END
    ELSE
        SELECT 0 AS Success;
END
GO
