USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[FeedPassiveJackpot]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ── Passive Jackpot ───────────────────────────────────────────────────────────

-- Adds 1% of a loss to the server passive jackpot pool. Creates row if needed.
CREATE   PROCEDURE [dbo].[FeedPassiveJackpot]
    @ServerID BIGINT,
    @Amount   DECIMAL(38,0)   -- already computed as 1% of loss by caller
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM [dbo].[PassiveJackpot] WHERE [ServerID] = @ServerID)
        UPDATE [dbo].[PassiveJackpot]
        SET    [Pool] = [Pool] + @Amount
        WHERE  [ServerID] = @ServerID;
    ELSE
        INSERT INTO [dbo].[PassiveJackpot] ([ServerID], [Pool])
        VALUES (@ServerID, @Amount);
END
GO
