USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetJackpotEntries]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get total pot and all entries for a server
CREATE   PROCEDURE [dbo].[GetJackpotEntries]
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT UserID, SUM(Amount) AS TotalContributed, COUNT(*) AS EntryCount
    FROM   JackpotEntries
    WHERE  ServerID = @ServerID
    GROUP  BY UserID;
END
GO
