USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetPetCosmetics]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetPetCosmetics]
    @PetID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT CosmeticType, CosmeticKey
    FROM   PetCosmetics
    WHERE  PetID = @PetID;
END
GO
