USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[HatchEgg]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Marks an egg as hatched and links it to the newly created pet.
-- Caller is responsible for creating the Pet row first, then calling this.
CREATE   PROCEDURE [dbo].[HatchEgg]
    @EggID      INT,
    @UserID     VARCHAR(50),
    @HatchedPetID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verify ownership and that egg is ready
    IF NOT EXISTS (
        SELECT 1 FROM PetEggs
        WHERE EggID = @EggID AND UserID = @UserID AND IsHatched = 0
          AND HatchAt <= GETUTCDATE()
    )
    BEGIN
        SELECT 0 AS Success;
        RETURN;
    END

    UPDATE PetEggs
    SET    IsHatched    = 1,
           HatchedPetID = @HatchedPetID
    WHERE  EggID = @EggID;

    SELECT 1 AS Success;
END
GO
