USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[CreatePetEgg]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ── Pet Eggs / Breeding ───────────────────────────────────────────────────────

-- Creates an egg from two parents. Caller computes inherited stats.
CREATE   PROCEDURE [dbo].[CreatePetEgg]
    @UserID       VARCHAR(50),
    @ServerID     VARCHAR(50),
    @Parent1ID    INT,
    @Parent2ID    INT,
    @Species      VARCHAR(10),
    @Breed        NVARCHAR(64),
    @BaseHunger   INT,
    @BaseHappiness INT,
    @BaseEnergy   INT,
    @BaseHygiene  INT,
    @BaseXP       INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @HatchAt DATETIME = DATEADD(HOUR, 24, GETUTCDATE());

    INSERT INTO PetEggs
        (UserID, ServerID, Parent1ID, Parent2ID, Species, Breed,
         BaseHunger, BaseHappiness, BaseEnergy, BaseHygiene, BaseXP, HatchAt)
    VALUES
        (@UserID, @ServerID, @Parent1ID, @Parent2ID, @Species, @Breed,
         @BaseHunger, @BaseHappiness, @BaseEnergy, @BaseHygiene, @BaseXP, @HatchAt);

    SELECT SCOPE_IDENTITY() AS EggID, @HatchAt AS HatchAt;
END
GO
