USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetActivePet]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetActivePet]
    @UserID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1
           PetID, Name, Species, Breed, XP, Hunger, Happiness, Energy, Hygiene,
           IsActive, IsHibernating, HibernatedAt, Accessory1, Accessory2, Bio, PictureUrl,
           LastFed, LastPetted, LastGroomed, LastPlayed, LastSlept, BirthDate
    FROM   Pet
    WHERE  UserID = @UserID AND IsActive = 1;
END
GO
