USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePokerDeck]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdatePokerDeck]
    @GameID INT,
    @Deck   NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE PokerLobby SET Deck = @Deck WHERE GameID = @GameID;
END
GO
