USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetPetExplore]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Check explore status
CREATE   PROCEDURE [dbo].[GetPetExplore]
    @PetID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ExploreReturnsAt AS ReturnsAt, ExploreRewardKey AS RewardKey
    FROM   Pet
    WHERE  PetID = @PetID
      AND  ExploreReturnsAt IS NOT NULL;
END
GO
