USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[DeleteTriviaMessage]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- DeleteTriviaMessage
-- No schema changes.
-- =============================================================================
CREATE   PROCEDURE [dbo].[DeleteTriviaMessage]
    @TriviaMessageID bigint
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM [dbo].[TriviaMessage]
    WHERE TriviaMessageID = @TriviaMessageID;
END

GO
