USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetCredits]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ──────────────────────────────────────────────────────────────────────────────
-- PATCH — GetCredits now returns LifetimeEarned + DailyStreak
-- Run after the Credits table alterations above have been applied.
-- ──────────────────────────────────────────────────────────────────────────────
CREATE   PROCEDURE [dbo].[GetCredits]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Balance, TotalEarned, TotalSpent, LastDaily, LastWork,
           ISNULL(LifetimeEarned, 0) AS LifetimeEarned,
           ISNULL(DailyStreak,    0) AS DailyStreak
    FROM   Credits
    WHERE  UserID = @UserID AND ServerID = @ServerID;
END
GO
