USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetKeywordNSFW]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- GetKeywordNSFW
-- NOTE: Leading-wildcard LIKE '%...%' on FilePath cannot use an index and
--       causes a full table scan on every call. Long-term fix: store a
--       persisted hash/checksum of FilePath and equality-match on that.
--       Query is functionally preserved pending that schema change.
-- =============================================================================
CREATE   PROCEDURE [dbo].[GetKeywordNSFW]
    @Message nvarchar(max)
AS
BEGIN
    SET NOCOUNT ON;

    -- TODO: Replace leading-wildcard LIKE with hash/checksum equality match.
    SELECT TOP 1 NSFW
    FROM ChatKeyword
    WHERE FilePath LIKE '%' + @Message + '%';
END

GO
