USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddInvestment]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AddInvestment]
    @UserID     VARCHAR(50),
    @ServerID   VARCHAR(50),
    @Amount     DECIMAL(38,0),
    @Multiplier DECIMAL(4,2),
    @ReturnsAt  DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Investments (UserID, ServerID, Amount, Multiplier, ReturnsAt)
    VALUES (@UserID, @ServerID, @Amount, @Multiplier, @ReturnsAt);
    SELECT SCOPE_IDENTITY() AS InvestmentID;
END
GO
