USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdateChildSupportDate]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================================================
-- UpdateChildSupportDate — stamp today after deduction
-- =============================================================================
CREATE   PROCEDURE [dbo].[UpdateChildSupportDate]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE PregnancyEvents
    SET    LastChildSupport = CAST(GETUTCDATE() AS DATE)
    WHERE  Id = @Id;
END
GO
