USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdateBlackjackMessageID]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdateBlackjackMessageID]
    @UserID    NVARCHAR(50),
    @MessageID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE BlackjackGame SET MessageID = @MessageID WHERE UserID = @UserID;
END
GO
