USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[ClaimChallengeBonus]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Awards the bonus for completing all 3 challenges. Returns payout or 0 if
-- already claimed / not all complete.
CREATE   PROCEDURE [dbo].[ClaimChallengeBonus]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Today DATE = CAST(GETUTCDATE() AS DATE);
    DECLARE @Payout DECIMAL(38,0) = 0;

    SELECT
        @Payout =
            CASE WHEN udc.BonusClaimed = 0
                      AND udc.Progress1 >= c1.TargetCount
                      AND udc.Progress2 >= c2.TargetCount
                      AND udc.Progress3 >= c3.TargetCount
                 THEN c1.RewardAmount + c2.RewardAmount + c3.RewardAmount
                 ELSE 0
            END
    FROM UserDailyChallenges udc
    JOIN ChallengePool c1 ON c1.ChallengeID = udc.Challenge1ID
    JOIN ChallengePool c2 ON c2.ChallengeID = udc.Challenge2ID
    JOIN ChallengePool c3 ON c3.ChallengeID = udc.Challenge3ID
    WHERE udc.UserID = @UserID AND udc.ServerID = @ServerID AND udc.ChallengeDate = @Today;

    IF @Payout > 0
        UPDATE UserDailyChallenges
        SET    BonusClaimed = 1
        WHERE  UserID = @UserID AND ServerID = @ServerID AND ChallengeDate = @Today;

    SELECT @Payout AS Payout;
END
GO
