USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddActiveEffect]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Upserts an active effect — replaces any existing entry for the same key
CREATE PROCEDURE [dbo].[AddActiveEffect]
    @UserID     NVARCHAR(50),
    @ServerID   NVARCHAR(50),
    @EffectKey  NVARCHAR(100),
    @ExpiresAt  DATETIME2 = NULL,
    @StackCount INT       = 1
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM UserActiveEffects
               WHERE  UserID = @UserID AND ServerID = @ServerID AND EffectKey = @EffectKey)
        UPDATE UserActiveEffects
        SET    ExpiresAt = @ExpiresAt, StackCount = @StackCount, CreatedAt = GETUTCDATE()
        WHERE  UserID = @UserID AND ServerID = @ServerID AND EffectKey = @EffectKey;
    ELSE
        INSERT INTO UserActiveEffects (UserID, ServerID, EffectKey, ExpiresAt, StackCount)
        VALUES (@UserID, @ServerID, @EffectKey, @ExpiresAt, @StackCount);
END
GO
