USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddUser]
	-- Add the parameters for the stored procedure here
	@UserID nvarchar(50),
	@Username nvarchar(100),
	@JoinDate datetime,
	@ServerUID bigint,
	@Nickname nvarchar(100) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @UserID AND ServerUID = @ServerUID)
	BEGIN
		INSERT INTO [dbo].[Users]
           ([UserID]
		  ,[Username]
		  ,[JoinDate]
		  ,[ServerUID]
		  ,[Nickname]
		  ,[PronounID]
		  ,[CreatedOn]
		  ,[DeletedOn])
     VALUES(
           @UserID
           ,@Username
           ,@JoinDate
		   ,@ServerUID
           ,@Nickname
		   ,NULL
           ,GETDATE()
		   ,NULL
		)
	END
END
GO
