USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetPassiveJackpot]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Returns current pool for display.
CREATE   PROCEDURE [dbo].[GetPassiveJackpot]
    @ServerID BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ISNULL([Pool], 0) AS [Pool]
    FROM   [dbo].[PassiveJackpot]
    WHERE  [ServerID] = @ServerID;
END
GO
