USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdateBlackjackGame]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdateBlackjackGame]
    @UserID  VARCHAR(50),
    @Deck    NVARCHAR(MAX),
    @Player  NVARCHAR(MAX),
    @Dealer  NVARCHAR(MAX),
    @Doubled BIT,
    @Bet     DECIMAL(38,0) = 0
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE BlackjackGame SET
        Deck    = @Deck,
        Player  = @Player,
        Dealer  = @Dealer,
        Doubled = @Doubled,
        Bet     = @Bet
    WHERE UserID = @UserID;
END
GO
