USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetFishStats]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Returns fish stats: total caught, total earned, biggest catch, rarity breakdown.
CREATE   PROCEDURE [dbo].[GetFishStats]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Summary row
    SELECT
        COUNT(*)               AS TotalCaught,
        SUM(Credits)           AS TotalEarned,
        MAX(Credits)           AS BiggestCatch,
        SUM(CASE WHEN Rarity = 'Legendary' THEN 1 ELSE 0 END) AS Legendaries,
        SUM(CASE WHEN Rarity = 'Rare'      THEN 1 ELSE 0 END) AS Rares,
        SUM(CASE WHEN Rarity = 'Uncommon'  THEN 1 ELSE 0 END) AS Uncommons,
        SUM(CASE WHEN Rarity = 'Common'    THEN 1 ELSE 0 END) AS Commons,
        SUM(CASE WHEN Rarity = 'Junk'      THEN 1 ELSE 0 END) AS Junks
    FROM FishLog
    WHERE UserID = @UserID AND ServerID = @ServerID;
END
GO
