USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetServerByID]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- GetServerByID
-- No changes (queries root dimension by natural key).
-- =============================================================================
CREATE   PROCEDURE [dbo].[GetServerByID]
    @ServerUID bigint
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
		ServerUID,
		ServerName,
		DefaultChannelID,
		IsActive,
		AnnouncementsEnabled
	FROM
		Servers
	WHERE
		ServerUID = @ServerUID

END

GO
