USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetPokerPlayers]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetPokerPlayers]
    @GameID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT PlayerID, UserID, Hand FROM PokerPlayer WHERE GameID = @GameID;
END
GO
