USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[DecayPetStats]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── Scheduler procs ───────────────────────────────────────────────────────────

-- Called every 30 minutes by the scheduler.
-- Only decays pets whose owner has been absent 2+ hours.
-- Returns pets that JUST entered hibernation this tick for DM notification.
CREATE   PROCEDURE [dbo].[DecayPetStats]
AS
BEGIN
    SET NOCOUNT ON;

    -- Step 1: Decay stats for absent-owner pets only
    UPDATE p SET
        p.Hunger    = CASE WHEN p.Hunger    > 5 THEN p.Hunger    - 5 ELSE 0 END,
        p.Happiness = CASE WHEN p.Happiness > 4 THEN p.Happiness - 4 ELSE 0 END,
        p.Energy    = CASE WHEN p.Energy    > 3 THEN p.Energy    - 3 ELSE 0 END,
        p.Hygiene   = CASE WHEN p.Hygiene   > 2 THEN p.Hygiene   - 2 ELSE 0 END
    FROM Pet p
    WHERE p.IsHibernating = 0
      AND EXISTS (
          SELECT 1 FROM [dbo].[Users] u
          WHERE  u.UserID = p.UserID
            AND  (u.LastSeen IS NULL OR u.LastSeen < DATEADD(HOUR, -2, GETUTCDATE()))
      );

    -- Step 2: Trigger hibernation when 2+ stats fall below threshold (once only)
    UPDATE Pet SET
        IsHibernating = 1,
        HibernatedAt  = GETUTCDATE()
    WHERE IsHibernating = 0
      AND HibernatedAt  IS NULL
      AND (
            (CASE WHEN Hunger    < 15 THEN 1 ELSE 0 END +
             CASE WHEN Happiness < 15 THEN 1 ELSE 0 END +
             CASE WHEN Energy    < 15 THEN 1 ELSE 0 END) >= 2
          );

    -- Step 3: Return ONLY pets that just hibernated this tick (within last 2 min)
    SELECT p.PetID, p.UserID, p.Name, p.Species
    FROM   Pet p
    WHERE  p.IsHibernating = 1
      AND  p.HibernatedAt >= DATEADD(MINUTE, -2, GETUTCDATE());
END
GO
