USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddServer]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- AddServer
-- Changes:
--   - Added idempotency guard (IF NOT EXISTS) to prevent duplicate servers
--   - Explicit column list in VALUES
-- =============================================================================
CREATE   PROCEDURE [dbo].[AddServer]
    @ServerUID        bigint,
    @ServerName       varchar(200),
    @DefaultChannelID bigint
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Servers WHERE ServerUID = @ServerUID)
    BEGIN
        INSERT INTO [dbo].[Servers]
            (ServerUID, ServerName, DefaultChannelID, Volume, FixEmbed, IsPlayerConnected, IsActive, CreatedOn)
        VALUES
            (@ServerUID, @ServerName, @DefaultChannelID, 100, 0, 0, 1, GETDATE());
    END
END

GO
