USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[ZeroAllBalances]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ── Server Economy Reset — zeros every user's balance ────────────────────────
-- LifetimeEarned is intentionally preserved for prestige rank.
CREATE   PROCEDURE [dbo].[ZeroAllBalances]
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Credits
    SET    Balance = 0
    WHERE  ServerID = @ServerID;
END
GO
