USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetChatKeywordMap]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetChatKeywordMap]
	-- Add the parameters for the stored procedure here
	@AddKeyword varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TOP(1)
		ckm.Keyword	[Keyword]
	FROM
		ChatKeywordMap ckm
		LEFT JOIN ChatKeyword ck ON ckm.Keyword = ck.ChatKeyword
	WHERE
		AddKeyword = @AddKeyword

END
GO
