USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[CreatePregnancy]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================================================
-- CreatePregnancy — insert a new pregnancy row
-- =============================================================================
CREATE   PROCEDURE [dbo].[CreatePregnancy]
    @UserID     NVARCHAR(30),
    @ServerID   NVARCHAR(30),
    @BirthAt    DATETIME2
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO PregnancyEvents (UserID, ServerID, BirthAt)
    VALUES (@UserID, @ServerID, @BirthAt);
END
GO
