USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[ResetStockDayRange]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Reset 24h high/low (called by timer at midnight UTC)
CREATE   PROCEDURE [dbo].[ResetStockDayRange]
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Stocks SET High24h = Price, Low24h = Price;
END
GO
