USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetChatKeywordsByServer]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetChatKeywordsByServer]
	-- Add the parameters for the stored procedure here
	@ServerID bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT
		Keyword
		,AddKeyword
		,CreatedBy
	FROM
		ChatKeywordMap
	WHERE
		ServerID = @ServerID

END
GO
