USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetUsersScheduledKeywords]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetUsersScheduledKeywords]
	-- Add the parameters for the stored procedure here
	@UserID varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
		ChatKeyword	[ThirstTable],
		ScheduledDateTime	[ScheduleTime]
	FROM
		UsersScheduledKeyword
	WHERE
		UserID = @UserID
END
GO
