USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePokerMessage]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdatePokerMessage]
    @GameID    INT,
    @MessageID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE PokerLobby SET MessageID = @MessageID WHERE GameID = @GameID;
END
GO
