USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetPokerGameById]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetPokerGameById]
    @GameID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT GameID, ChannelID, MessageID, ServerID, BetPerPlayer, Deck, Community, Status
    FROM   PokerLobby
    WHERE  GameID = @GameID;
END
GO
