USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetUserInventory]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserInventory]
    @UserID   NVARCHAR(50),
    @ServerID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ItemKey, Quantity, AcquiredAt
    FROM   UserInventory
    WHERE  UserID = @UserID AND ServerID = @ServerID AND Quantity > 0
    ORDER  BY AcquiredAt;
END
GO
