USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddJackpotEntry]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AddJackpotEntry]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50),
    @Amount   DECIMAL(38,0)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO JackpotEntries (UserID, ServerID, Amount)
    VALUES (@UserID, @ServerID, @Amount);
END
GO
