USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetChatKeywordInfo]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetChatKeywordInfo]
	-- Add the parameters for the stored procedure here
	@Keyword varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @TotalCount int = (SELECT COUNT(*) FROM ChatKeyword WHERE ChatKeyword = @Keyword)

    -- Insert statements for procedure here
	SELECT
		ckm.Keyword
		,@TotalCount	[EntryCount]
		,ckm.CreatedBy
	FROM
		ChatKeywordMap ckm
	WHERE
		ckm.Keyword = @Keyword
END
GO
