USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[CreatePokerGame]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[CreatePokerGame]
    @ChannelID    VARCHAR(50),
    @ServerID     VARCHAR(50),
    @BetPerPlayer DECIMAL(38,0),
    @Deck         NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO PokerLobby (ChannelID, ServerID, BetPerPlayer, Deck)
    VALUES (@ChannelID, @ServerID, @BetPerPlayer, @Deck);
    SELECT SCOPE_IDENTITY() AS GameID;
END
GO
