USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetPronouns]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- GetPronouns
-- No schema changes.
-- =============================================================================
CREATE   PROCEDURE [dbo].[GetPronouns]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ID, Pronoun
    FROM Pronouns;
END

GO
