USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetUserBornChildCount]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Total born children for a given user (across all servers)
CREATE   PROCEDURE [dbo].[GetUserBornChildCount]
    @UserID NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT COUNT(*) AS BornCount
    FROM   PregnancyEvents
    WHERE  UserID = @UserID
      AND  IsBorn = 1;
END
GO
