USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetGambleStats]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Returns per-game summary + daily loss total for a user
CREATE   PROCEDURE [dbo].[GetGambleStats]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Per-game breakdown
    SELECT
        Game,
        COUNT(*)                                       AS GamesPlayed,
        SUM(Bet)                                       AS TotalWagered,
        SUM(CASE WHEN Net > 0 THEN 1 ELSE 0 END)      AS Wins,
        SUM(CASE WHEN Net < 0 THEN 1 ELSE 0 END)      AS Losses,
        SUM(CASE WHEN Net = 0 THEN 1 ELSE 0 END)      AS Draws,
        MAX(Net)                                       AS BiggestWin,
        MIN(Net)                                       AS BiggestLoss,
        SUM(Net)                                       AS NetTotal
    FROM GambleLog
    WHERE UserID = @UserID AND ServerID = @ServerID
    GROUP BY Game
    ORDER BY TotalWagered DESC;
END
GO
