USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddForgedCosmetic]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── Stored Procedures ─────────────────────────────────────────────────────────

-- Records a forge and returns the new ForgeID
CREATE   PROCEDURE [dbo].[AddForgedCosmetic]
    @UserID      VARCHAR(50),
    @ServerID    VARCHAR(50),
    @PetID       INT,
    @Type        VARCHAR(10),
    @Tier        TINYINT,
    @DisplayText NVARCHAR(64),
    @ColourHex   VARCHAR(7),
    @CreditsCost DECIMAL(38,0)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO ForgedCosmetics
        (UserID, ServerID, PetID, Type, Tier, DisplayText, ColourHex, CreditsCost)
    VALUES
        (@UserID, @ServerID, @PetID, @Type, @Tier, @DisplayText, @ColourHex, @CreditsCost);
    SELECT SCOPE_IDENTITY() AS ForgeID;
END
GO
