USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserLastSeen]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ══════════════════════════════════════════════════════════════════════════════
-- STEP 3 — Stored procedures
-- ══════════════════════════════════════════════════════════════════════════════

-- ── Users ─────────────────────────────────────────────────────────────────────

CREATE   PROCEDURE [dbo].[UpdateUserLastSeen]
    @UserID   VARCHAR(50),
    @ServerID BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [dbo].[Users]
    SET    LastSeen = GETUTCDATE()
    WHERE  UserID    = @UserID
      AND  ServerUID = @ServerID;
END
GO
