USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[DeleteScrambleGame]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ── DeleteScrambleGame ────────────────────────────────────────────────────────
CREATE   PROCEDURE [dbo].[DeleteScrambleGame]
    @ChannelID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM ScrambleGame WHERE ChannelID = @ChannelID;
END
GO
