USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[HalveAllBalances]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════════════════════════════════════════
-- SQL_LuxuryShop.sql
-- New SPs required by luxury shop item handlers in Shop.cs
-- ══════════════════════════════════════════════════════════════════════════════


-- ── Economy Nuke — halves every user's balance in a server ───────────────────
CREATE   PROCEDURE [dbo].[HalveAllBalances]
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Credits
    SET    Balance = Balance / 2
    WHERE  ServerID = @ServerID;
END
GO
