USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[SellStock]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SellStock]
    @UserID    VARCHAR(50),
    @ServerID  VARCHAR(50),
    @Ticker    VARCHAR(8),
    @Shares    INT,
    @PriceEach DECIMAL(12,2),
    @TotalGain DECIMAL(38,0)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentShares INT;
    SELECT @CurrentShares = Shares FROM StockHoldings
    WHERE UserID = @UserID AND ServerID = @ServerID AND Ticker = @Ticker;

    IF @CurrentShares IS NULL OR @CurrentShares < @Shares
    BEGIN
        SELECT -1 AS Shares, 0.0 AS AvgBuyPrice;
        RETURN;
    END

    IF @CurrentShares = @Shares
        DELETE FROM StockHoldings
        WHERE UserID = @UserID AND ServerID = @ServerID AND Ticker = @Ticker;
    ELSE
        UPDATE StockHoldings
        SET    Shares = Shares - @Shares
        WHERE  UserID = @UserID AND ServerID = @ServerID AND Ticker = @Ticker;

    INSERT INTO StockTransactions (UserID, ServerID, Ticker, TxType, Shares, PriceEach, TotalCost)
    VALUES (@UserID, @ServerID, @Ticker, 'SELL', @Shares, @PriceEach, @TotalGain);

    SELECT ISNULL(Shares, 0) AS Shares, ISNULL(AvgBuyPrice, 0.0) AS AvgBuyPrice
    FROM StockHoldings
    WHERE UserID = @UserID AND ServerID = @ServerID AND Ticker = @Ticker;
END
GO
