USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddUsersScheduledKeyword]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddUsersScheduledKeyword]
(
	@UserID bigint,
	@Keyword varchar(50)
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @CurrentTime datetime = GETDATE()
	DECLARE @Random datetime = DATEADD(minute, 1, @CurrentTime)

	IF (SELECT COUNT(*) FROM UsersScheduledKeyword WHERE FORMAT(@Random, 'yyyy-MM-dd HH:mm') = FORMAT(ScheduledDateTime, 'yyyy-MM-dd HH:mm')) > 0
	BEGIN
		SET @Random = DATEADD(minute, 2, @CurrentTime)
	END

	INSERT INTO UsersScheduledKeyword (UserID, ChatKeyword, ScheduledDateTime)
	VALUES(@UserID, @Keyword, @Random)


	SELECT
		usk.ScheduledDateTime	[ScheduleTime]
		,STRING_AGG(usk.ChatKeyword, ', ')	[ScheduledEventTable]
	FROM
		UsersScheduledKeyword  usk
	WHERE
		usk.UserID = @UserID
	GROUP BY
		usk.ChatKeyword, usk.ScheduledDateTime
END
GO
