USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetActiveEffect]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Returns the effect row if it exists and has not expired
CREATE PROCEDURE [dbo].[GetActiveEffect]
    @UserID    NVARCHAR(50),
    @ServerID  NVARCHAR(50),
    @EffectKey NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT EffectKey, ExpiresAt, StackCount
    FROM   UserActiveEffects
    WHERE  UserID    = @UserID    AND ServerID  = @ServerID
      AND  EffectKey = @EffectKey AND StackCount > 0
      AND  (ExpiresAt IS NULL OR ExpiresAt > GETUTCDATE());
END
GO
