USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[MarkPregnancyBorn]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================================================
-- MarkPregnancyBorn — set IsBorn = 1 after birth DMs are sent
-- =============================================================================
CREATE   PROCEDURE [dbo].[MarkPregnancyBorn]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE PregnancyEvents
    SET    IsBorn = 1,
           BornAt = GETUTCDATE()
    WHERE  Id = @Id;
END
GO
