USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[BuyStock]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[BuyStock]
    @UserID    VARCHAR(50),
    @ServerID  VARCHAR(50),
    @Ticker    VARCHAR(8),
    @Shares    INT,
    @PriceEach DECIMAL(12,2),
    @TotalCost DECIMAL(38,0)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM StockHoldings WHERE UserID = @UserID AND ServerID = @ServerID AND Ticker = @Ticker)
    BEGIN
        UPDATE StockHoldings
        SET    AvgBuyPrice = ((AvgBuyPrice * Shares) + (@PriceEach * @Shares)) / (Shares + @Shares),
               Shares      = Shares + @Shares
        WHERE  UserID = @UserID AND ServerID = @ServerID AND Ticker = @Ticker;
    END
    ELSE
    BEGIN
        INSERT INTO StockHoldings (UserID, ServerID, Ticker, Shares, AvgBuyPrice)
        VALUES (@UserID, @ServerID, @Ticker, @Shares, @PriceEach);
    END

    INSERT INTO StockTransactions (UserID, ServerID, Ticker, TxType, Shares, PriceEach, TotalCost)
    VALUES (@UserID, @ServerID, @Ticker, 'BUY', @Shares, @PriceEach, @TotalCost);

    SELECT Shares, AvgBuyPrice FROM StockHoldings
    WHERE UserID = @UserID AND ServerID = @ServerID AND Ticker = @Ticker;
END
GO
