USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddScrambleGame]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ── AddScrambleGame ──────────────────────────────────────────────────────────
CREATE   PROCEDURE [dbo].[AddScrambleGame]
    @ChannelID  NVARCHAR(50),
    @MessageID  NVARCHAR(50),
    @Answer     NVARCHAR(100),
    @Difficulty NVARCHAR(10),
    @StartedBy  NVARCHAR(50),
    @ExpiresAt  DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    -- Guard against the race where two /scramble calls both pass the C# check
    -- simultaneously and then both try to INSERT. The second one becomes a no-op.
    IF NOT EXISTS (SELECT 1 FROM ScrambleGame WHERE ChannelID = @ChannelID)
        INSERT INTO ScrambleGame (ChannelID, MessageID, Answer, Difficulty, StartedBy, ExpiresAt)
        VALUES (@ChannelID, @MessageID, @Answer, @Difficulty, @StartedBy, @ExpiresAt);
END
GO
