USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetAllActiveEffects]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Returns all active (non-expired) effects for a user in a server
CREATE PROCEDURE [dbo].[GetAllActiveEffects]
    @UserID   NVARCHAR(50),
    @ServerID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT EffectKey, ExpiresAt, StackCount
    FROM   UserActiveEffects
    WHERE  UserID = @UserID AND ServerID = @ServerID
      AND  StackCount > 0
      AND  (ExpiresAt IS NULL OR ExpiresAt > GETUTCDATE())
    ORDER  BY CreatedAt;
END
GO
