USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddToInventory]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddToInventory]
    @UserID   NVARCHAR(50),
    @ServerID NVARCHAR(50),
    @ItemKey  NVARCHAR(100),
    @Quantity INT = 1
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM UserInventory
               WHERE  UserID = @UserID AND ServerID = @ServerID AND ItemKey = @ItemKey)
        UPDATE UserInventory
        SET    Quantity = Quantity + @Quantity
        WHERE  UserID = @UserID AND ServerID = @ServerID AND ItemKey = @ItemKey;
    ELSE
        INSERT INTO UserInventory (UserID, ServerID, ItemKey, Quantity)
        VALUES (@UserID, @ServerID, @ItemKey, @Quantity);
END
GO
