USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetPlayerConnected]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetPlayerConnected] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
		pc.ServerUID
		,s.ServerName
		,pc.VoiceChannelID
		,pc.TextChannelID
	FROM
		PlayerConnected pc
		JOIN Servers s ON pc.ServerUID = s.ServerUID
	ORDER BY
		s.ServerName
END
GO
