USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetDailyLoss]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetDailyLoss]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ISNULL(SUM(ABS(Net)), 0) AS TotalLost
    FROM   GambleLog
    WHERE  UserID    = @UserID
      AND  ServerID  = @ServerID
      AND  Net       < 0
      AND  CreatedAt > DATEADD(HOUR, -24, GETUTCDATE());
END
GO
