USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetPortfolio]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get user portfolio
CREATE   PROCEDURE [dbo].[GetPortfolio]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT h.Ticker, h.Shares, h.AvgBuyPrice,
           s.Price AS CurrentPrice, s.CompanyName,
           (s.Price - h.AvgBuyPrice) * h.Shares AS UnrealizedPnL
    FROM   StockHoldings h
    JOIN   Stocks s ON s.Ticker = h.Ticker
    WHERE  h.UserID = @UserID AND h.ServerID = @ServerID AND h.Shares > 0
    ORDER BY h.Ticker;
END
GO
