USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[AddWordleGame]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AddWordleGame]
    @ChannelID NVARCHAR(50),
    @MessageID NVARCHAR(50),
    @Answer    NVARCHAR(10),
    @Guesses   NVARCHAR(500),
    @StartedBy NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO WordleGame (ChannelID, MessageID, Answer, Guesses, StartedBy)
    VALUES (@ChannelID, @MessageID, @Answer, @Guesses, @StartedBy);
END
GO
