USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetPetJournal]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Retrieve the 20 most recent entries for display
CREATE   PROCEDURE [dbo].[GetPetJournal]
    @PetID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 20 JournalID, Event, Details, CreatedAt
    FROM   PetJournal
    WHERE  PetID = @PetID
    ORDER  BY JournalID DESC;
END
GO
