USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetHolding]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get holding for one ticker
CREATE   PROCEDURE [dbo].[GetHolding]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50),
    @Ticker   VARCHAR(8)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Shares, AvgBuyPrice
    FROM   StockHoldings
    WHERE  UserID = @UserID AND ServerID = @ServerID AND Ticker = @Ticker;
END
GO
