USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[SetPetExplore]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ══════════════════════════════════════════════════════════════════════════════
-- Stored procedures
-- ══════════════════════════════════════════════════════════════════════════════

-- Send a pet exploring
CREATE   PROCEDURE [dbo].[SetPetExplore]
    @PetID     INT,
    @ReturnsAt DATETIME,
    @RewardKey NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Pet SET
        ExploreReturnsAt = @ReturnsAt,
        ExploreRewardKey = @RewardKey
    WHERE PetID = @PetID;
END
GO
