USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetStreakInfo]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ══════════════════════════════════════════════════════════════════════════════
-- STORED PROCEDURES
-- ══════════════════════════════════════════════════════════════════════════════


-- ── Daily Streak ──────────────────────────────────────────────────────────────

-- Returns DailyStreak, LastStreakDate, LifetimeEarned for the user.
CREATE   PROCEDURE [dbo].[GetStreakInfo]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT DailyStreak, LastStreakDate, LifetimeEarned
    FROM   Credits
    WHERE  UserID = @UserID AND ServerID = @ServerID;
END
GO
