USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[DeductCredits]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[DeductCredits]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50),
    @Amount   DECIMAL(38,0),
    @Source   VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Balance DECIMAL(38,0);
    SELECT @Balance = Balance FROM Credits WHERE UserID = @UserID AND ServerID = @ServerID;

    IF @Balance IS NULL OR @Balance < @Amount
    BEGIN
        SELECT CAST(-1 AS DECIMAL(38,0)) AS Balance;
        RETURN;
    END

    UPDATE Credits SET
        Balance    = Balance - @Amount,
        TotalSpent = TotalSpent + @Amount
    WHERE UserID = @UserID AND ServerID = @ServerID;

    SELECT Balance FROM Credits WHERE UserID = @UserID AND ServerID = @ServerID;
END
GO
