USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetInventoryItem]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetInventoryItem]
    @UserID   NVARCHAR(50),
    @ServerID NVARCHAR(50),
    @ItemKey  NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ItemKey, Quantity
    FROM   UserInventory
    WHERE  UserID = @UserID AND ServerID = @ServerID
      AND  ItemKey = @ItemKey AND Quantity > 0;
END
GO
