USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetMaturePregnancies]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================================================
-- GetMaturePregnancies — rows where BirthAt has passed and IsBorn = 0
-- Called by BotHost every ~1 hour
-- =============================================================================
CREATE   PROCEDURE [dbo].[GetMaturePregnancies]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT *
    FROM   PregnancyEvents
    WHERE  IsBorn = 0
      AND  BirthAt <= GETUTCDATE();
END
GO
