USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[RenameChatKeyword]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RenameChatKeyword]
	-- Add the parameters for the stored procedure here
	@OldKeyword varchar(50),
	@NewKeyword varchar(50),
	@ServerID bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE ChatKeywordMap
	SET AddKeyword = 'add' + @NewKeyword
	WHERE Keyword = @OldKeyword AND ServerID = @ServerID

	UPDATE ChatKeyword
	SET ChatKeyword = @NewKeyword
	WHERE ChatKeyword = @OldKeyword
END
GO
