USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetJackpotTotal]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get total jackpot pot for a server
CREATE   PROCEDURE [dbo].[GetJackpotTotal]
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ISNULL(SUM(Amount), 0) AS Total, COUNT(*) AS Entries
    FROM   JackpotEntries
    WHERE  ServerID = @ServerID;
END
GO
