USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[ClearJackpot]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Clear jackpot after draw
CREATE   PROCEDURE [dbo].[ClearJackpot]
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM JackpotEntries WHERE ServerID = @ServerID;
END
GO
