USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetPendingEggs]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Returns all unhatched eggs for a user with time remaining.
CREATE   PROCEDURE [dbo].[GetPendingEggs]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        EggID, Species, Breed,
        BaseHunger, BaseHappiness, BaseEnergy, BaseHygiene, BaseXP,
        Parent1ID, Parent2ID,
        CreatedAt, HatchAt,
        DATEDIFF(SECOND, GETUTCDATE(), HatchAt) AS SecondsRemaining
    FROM PetEggs
    WHERE UserID   = @UserID
      AND ServerID = @ServerID
      AND IsHatched = 0
    ORDER BY HatchAt ASC;
END
GO
