USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetPokerGame]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetPokerGame]
    @ChannelID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1 GameID, ChannelID, MessageID, ServerID, BetPerPlayer, Deck, Community, Status
    FROM   PokerLobby
    WHERE  ChannelID = @ChannelID AND Status IN ('waiting','active')
    ORDER  BY CreatedAt DESC;
END
GO
