USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[IncrementChallengeProgress]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Increments progress on any challenge slot that matches the given game type key.
-- Returns updated row so caller can check for completions.
CREATE   PROCEDURE [dbo].[IncrementChallengeProgress]
    @UserID   VARCHAR(50),
    @ServerID VARCHAR(50),
    @GameType VARCHAR(30)   -- must match GameType column in ChallengePool
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Today DATE = CAST(GETUTCDATE() AS DATE);

    UPDATE udc SET
        Progress1 = CASE
            WHEN c1.GameType = @GameType AND udc.Progress1 < c1.TargetCount
            THEN udc.Progress1 + 1 ELSE udc.Progress1 END,
        Progress2 = CASE
            WHEN c2.GameType = @GameType AND udc.Progress2 < c2.TargetCount
            THEN udc.Progress2 + 1 ELSE udc.Progress2 END,
        Progress3 = CASE
            WHEN c3.GameType = @GameType AND udc.Progress3 < c3.TargetCount
            THEN udc.Progress3 + 1 ELSE udc.Progress3 END
    FROM UserDailyChallenges udc
    JOIN ChallengePool c1 ON c1.ChallengeID = udc.Challenge1ID
    JOIN ChallengePool c2 ON c2.ChallengeID = udc.Challenge2ID
    JOIN ChallengePool c3 ON c3.ChallengeID = udc.Challenge3ID
    WHERE udc.UserID    = @UserID
      AND udc.ServerID  = @ServerID
      AND udc.ChallengeDate = @Today;

    -- Return updated progress + targets so caller can fire completion messages
    SELECT
        udc.Progress1, c1.TargetCount AS Target1, c1.RewardAmount AS Reward1, c1.[Key] AS Key1,
        udc.Progress2, c2.TargetCount AS Target2, c2.RewardAmount AS Reward2, c2.[Key] AS Key2,
        udc.Progress3, c3.TargetCount AS Target3, c3.RewardAmount AS Reward3, c3.[Key] AS Key3,
        udc.BonusClaimed
    FROM UserDailyChallenges udc
    JOIN ChallengePool c1 ON c1.ChallengeID = udc.Challenge1ID
    JOIN ChallengePool c2 ON c2.ChallengeID = udc.Challenge2ID
    JOIN ChallengePool c3 ON c3.ChallengeID = udc.Challenge3ID
    WHERE udc.UserID = @UserID AND udc.ServerID = @ServerID AND udc.ChallengeDate = @Today;
END
GO
