USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[ClearPregnancy]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ClearPregnancy]
	-- Add the parameters for the stored procedure here
	@UserID     NVARCHAR(30),
    @ServerID   NVARCHAR(30)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @PregnancyID int = (SELECT TOP(1) Id FROM PregnancyEvents WHERE UserID = @UserID AND ServerID = @ServerID)

	DELETE FROM PregnancyEvents
	WHERE Id = @PregnancyID

	UPDATE Credits
	SET Balance = 0
	WHERE UserID = @UserID AND ServerID = @ServerID
END
GO
