USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetTriviaMessage]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- GetTriviaMessage
-- No schema changes.
-- =============================================================================
CREATE   PROCEDURE [dbo].[GetTriviaMessage]
    @TriviaMessageID bigint
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CorrectAnswer
    FROM TriviaMessage
    WHERE TriviaMessageID = @TriviaMessageID;
END

GO
