USE [DiscordBot]
GO
/****** Object:  StoredProcedure [dbo].[GetActivePetPuzzle]    Script Date: 3/19/2026 10:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetActivePetPuzzle]
    @ChannelID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1 PuzzleID, Word, ExpiresAt
    FROM   PetWordPuzzle
    WHERE  ChannelID = @ChannelID
      AND  Claimed   = 0
      AND  ExpiresAt > GETUTCDATE();
END
GO
